/* Estilos generales */
body {
  background-color: #F5F5F5;
  font-family: 'Open Sans', sans-serif;
}
.img-fluid {
  transition: transform 0.2s;
}

.img-fluid:hover {
  transform: scale(1.05);
}
.sticky-buttons {
  position: sticky;
  top: 20px;
  z-index: 1000;
}

/* Encabezados */
.name-header {
  color: #000305;
  font-size: 2.5rem;
  font-weight: bold;
}

.subtitle {
  color: #6c757d;
  font-size: 1.5rem;
}
.navbar .btn {
  margin: 0 5px;
}

.navbar-toggler {
  border-color: #004085;
}


.btn-secondary:hover {
  background-color: #003057;
}

/* Secciones */
.section-title {
  color: #000102;
  margin-bottom: 1rem;
  border-bottom: 2px solid #FF851B;
  padding-bottom: 0.5rem;
}

/* Bordes */
.border {
  border: 1px solid #dee2e6;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
}
