<div class="container mt-4">
  <div class="row">
      <div class="col-md-4 contact-info border rounded p-3">
        <div class="text-center">
          <img src="yo.png" alt="Foto de perfil" class="img-fluid mb-3" width="60%">
        </div>
          <div class="mt-4 sticky-buttons" style="top: 20px;">
              <div class="d-grid gap-2">
                  <a href="#AcercaDeMi" class="btn btn-secondary" type="button">Acerca de mí</a>
                  <a href="#experiencia" class="btn btn-secondary" type="button">Experiencia laboral</a>
                  <a href="#educación" class="btn btn-secondary" type="button">Educación</a>
                  <a href="#certificado" class="btn btn-secondary" type="button">Formación complementaria profesional</a>
                  <a href="#skill" class="btn btn-secondary" type="button">Habilidades técnicas</a>
                  <a href="#habilidad" class="btn btn-secondary" type="button">Habilidades blandas</a>
                  <a (click)="openPdf()" class="btn btn-secondary" type="button">Ver certificados</a>

              </div>
          </div>
      </div>
      <div class="col-md-8">
          <div class="text-center border rounded p-3">
              <h1 class="name-header">JHERSON DERICK HERRERA JARAMILLO</h1>
              <h3 class="subtitle">Ing. de Sistemas</h3><br>

              <nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ">
                          <li class="nav-item">
                            <a href="{{whatsapp}}" class="nav-link">
                              <button type="button" class="btn btn-with-image btn-whatsapp">
                                  <i class="bi bi-whatsapp"> <u>Contacto:</u> <div>+51946349079</div></i>
                              </button>
                          </a>
                          </li>
                            <li class="nav-item">
                                <a href="mailto:jhersonjh44@gmail.com" class="nav-link">
                                    <button type="button" class="btn btn-with-image btn-email">
                                        <i class="bi bi-envelope"> <u>Correo</u> <div>{{correo}}</div></i>
                                    </button>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="https://www.linkedin.com/in/jherson-derick-herrera-jaramillo-9699161b9/" class="nav-link">
                                    <button type="button" class="btn btn-with-image btn-linkedin">
                                        <i class="bi bi-linkedin"> <u>LinkedIn:</u> <div>jherson-derick-herrera</div></i>
                                    </button>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="https://github.com/Domck" class="nav-link">
                                    <button type="button" class="btn btn-with-image btn-github">
                                        <i class="bi bi-github"> <u>GitHub:</u> <div>Domck</div></i>
                                    </button>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
          </div>

          <div class="border rounded p-3">
              <div class="mt-4" id="AcercaDeMi">
                  <h4 class="section-title"><b>ACERCA DE MÍ</b></h4>
                  <p>{{AcercaMi}}</p>
              </div>
              <div class="mt-4" id="experiencia">
                  <h4 class="section-title"><b>EXPERIENCIA LABORAL</b></h4>
                  <ul>
                      <li>CLARO PERÚ (América Móvil Perú S.A.C)</li>
                      <p class="text-left" *ngFor="let experiencia of experiencia">{{experiencia}}</p>
                      <p><strong>Función principal:</strong></p>
                          <ul>
                            <li>Gestionar y liderar proyectos de desarrollo e integración de sistemas, asegurando la entrega de
                              soluciones efectivas mediante la implementación de metodologías ágiles, en cascada o híbridas, y
                              coordinando equipos multidisciplinarios para cumplir con los objetivos del proyecto en tiempo y
                              forma.</li>
                            <li>Diseñar y desarrollar automatizaciones de procesos manuales y concurrentes, optimizando la
                              eficiencia operativa y reduciendo errores mediante soluciones tecnológicas personalizadas.</li>
                          </ul><br>
                      <p><strong>Principales proyectos:</strong></p>
                      <p class="text-center"><u>Motor de notificaciones automáticas:</u></p>
                          <ul>
                              <li>Lideré el proyecto de integración de nuevas variables en el motor de notificaciones
                                automáticas (prepago, postpago, fija), optimizando su funcionalidad y alcance (en
                                producción).</li>
                              <li>Lideré el equipo ágil del motor de notificaciones automáticas.</li><br>
                      <p class="text-center"><u>Motor de pagos:</u></p>
                              <li>Lideré el proyecto de integración del nuevo módulo de Medios de Pago con la pasarela
                                Izipay, impulsando mejoras en la experiencia de pago y eficiencia del sistema</li>
                          </ul><br>
                      <p><strong>Logros principales:</strong></p>
                          <ul>
                            <li>Se redujo un 90% las configuraciones atendidas por proveedores externos (GlobalHitss y
                              NTTData) y se pasaron a realizar estas actividades de manera directa</li>
                            <li>Brindé soporte a los ambientes de desarrollo auto-asistido postventa, garantizando la continuidad
                              operativa y minimizando interrupciones críticas.</li>
                            <li>Proporcioné ayuda al equipo de producción sobre incidencias relacionadas al motor de
                              notificaciones automáticas.</li>
                            <li>Automaticé las configuraciones concurrentes del motor de notificaciones automáticas y
                              documentación, minimizando un 50% las horas planilla, así dar continuidad a los proyectos
                              de alto impacto.</li>
                            <li>Reducción del tiempo de atención de las configuraciones en los canales auto-asistidos
                              postventa, pasando de un tiempo mínimo de 5 días a un rango actual de entre 1 y 3 días
                              incrementando la eficiencia del servicio.</li>
                          </ul><br>
                  </ul>
              </div>

              <div class="mt-4" id="educación">
                  <h4 class="section-title"><b>EDUCACIÓN</b></h4>
                  <ul>
                      <li><b>Universidad Autónoma del Perú | Egresado-Bachiller Julio 2019 - Julio 2024</b></li>
                      <p class="text-left" *ngFor="let universidad of universidad">{{universidad}}</p>
                  </ul>
              </div>
              <div class="mt-4" id="certificado">
                <h4 class="section-title"><b>FORMACIÓN COMPLEMENTARIA PROFESIONAL</b></h4>
                <p><strong>Gestión Ágil de Proyectos</strong></p>
                <ul>
                    <li *ngFor="let curso of cursos1">{{curso}}</li>
                </ul><br>
                <p><strong>Desarrollo de Software</strong></p>
                <ul>
                    <li *ngFor="let curso of cursos2">{{curso}}</li>
                </ul><br>
                <p><strong>Análisis de datos</strong></p>
                <ul>
                    <li *ngFor="let curso of cursos3">{{curso}}</li>
                </ul><br>
            </div>
              <div class="mt-4" id="skill">
                  <h4 class="section-title"><b>HABILIDADES TÉCNICAS</b></h4>
                  <ul>
                      <p><b>Desarrollo y Programación</b></p>
                      <li *ngFor="let AnalisiSistema of AnalisiSistema">{{AnalisiSistema}}</li>
                      <br>
                      <p><b>Cloud Computing y Automatización</b></p>
                      <li *ngFor="let Front of Front">{{Front}}</li>
                      <br>
                      <p><b>Control de Versiones y Colaboración</b></p>
                      <li *ngFor="let Back of Back">{{Back}}</li>
                      <br>
                      <p><b>Modelado de Sistemas</b></p>
                      <li *ngFor="let Cloud of Cloud">{{Cloud}}</li>
                      <br>
                      <p><b>Administración de Sistemas</b></p>
                      <li *ngFor="let datos of datos">{{datos}}</li><br>
                      <p><b>Análisis de datos</b></p>
                      <li *ngFor="let datos of datos">{{datos}}</li>
                      <br>
                  </ul>
              </div>

              <div class="mt-4" id="habilidad">
                  <h4 class="section-title">HABILIDADES BLANDAS</h4>
                  <ul>
                      <li *ngFor="let habilidades of habilidades">{{habilidades}}</li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>
